<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header.ejs'); -%>

    <body>
        <%- include('layouts/navbar.ejs'); -%>



            <!-- Page Header -->
            <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="page-heading">
                                <h1>Register a new Account</h1>
                                <span class="subheading">Welcome!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Content -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <p>Fill the details below!</p>
                        <% if(errors !=null && errors.length> 0){ %>
                            <ul class="list-group"></ul>
                            <% for (var i=0; i < errors.length; i++) { %>
                                <li class="list-group-item list-group-item-danger">
                                    <%= errors[i] %>
                                </li>
                                <% } %>
                                    </ul>
                                    <% } %>
                                        <form action="/users/register" method="POST" enctype="multipart/form-data">
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls">
                                                    <label>User Name</label>
                                                    <input type="text" class="form-control" placeholder="User Name"
                                                        id="username" name='username' value="<%= username %>">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls">
                                                    <label>Passowrd</label>
                                                    <input type="password" class="form-control" id="Passowrd"
                                                        name="password" placeholder="********" value="<%= password %>">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary"
                                                    id="sendMessageButton">Register</button>
                                            </div>
                                        </form>
                    </div>
                </div>
            </div>

            <hr>

            <%- include('layouts/footer'); -%>
                <%- include('layouts/scripts'); -%>
    </body>

</html>